<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
</head>
<body class="formal">
    <div class="container">
        <div class="button-container">
            <button onclick="toggleTemplate()">Switch Template</button>
            <button onclick="generatePDF()">Generate PDF</button>
            <button id="viewToggle" onclick="toggleView()">Switch to Industrial</button>
        </div>
        
        {{ content }}
    </div>

    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>